/* DISABLE ARROW */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.store-name {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6c757d;
}
