/* You can add global styles to this file, and also import other style files */
.fas,
.far {
  margin-right: 4px;
}

table td,
table td *,
table th,
table th * {
  vertical-align: middle !important;
}

.error {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
}

.valid-card {
  color: #28a745;
  font-style: italic;
  font-size: 0.8rem;
}

.bg-jumbotron {
  background: #e9ecef !important;
}

/* CUSTOM POPOVER WIDTH */
.popover {
  max-width: 500px;
}

a {
  user-select: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.hover-shadow:hover, .primary-btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

html {
  user-select: none;
}

/* .sold-out {
	position: absolute;
	left: 0;
	top: 20px;
	padding: 5px 10px;
} */

#accordion-body .card-body {
  padding: 0;
}

.bg-blue {
  background-color: rgba(0,123,255,.5)!important
}

.label-deletable {
  padding: 4px 12px 4px 12px;
  margin-right: 5px;
  background-color: #fa5f5b;
}

.label-updatable {
  padding: 4px 12px 4px 12px;
  background-color: #17a2b8;
}

.label-byMe {
  padding: 4px 12px 4px 12px;
  background-color: #29a3d8;
}
