<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">My store</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="jumbotron bg-jumbotron">
  <div class="container">
    <h1 class="display-4">Manage Store</h1>
    <p class="lead">
      This is a modified jumbotron that occupies the entire horizontal space of
      its parent.
    </p>
    <div class="row">
      <app-store-card *ngFor="let store of stores" [store]="store"></app-store-card>
    </div>
  </div>
</div>
