<div class="card">
  <div class="card-body p-2">
    <div class="mb-2 row">
      <div class="col">
        <button class="btn btn-info" (click)="newRole()">
          <i class="fas fa-plus"></i>New role
        </button>
      </div>
    </div>

    <table class="table table-sm table-hover table-striped table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Role name</th>
          <th scope="col">Created by</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles">
          <th scope="row">{{ role.id }}</th>
          <td>{{ role.name }}</td>
          <td class="col-3 d-flex justify-content-center align-items-center">
            <p class="my-auto" *ngIf="role.createdBy !== currentUser.id; else byMe">{{role.createdBy}}</p>
            <ng-template #byMe>
              <p class="my-auto"><span class="badge badge-pill badge-danger label-byMe">Me</span></p>
            </ng-template>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-secondary btn-sm mr-md-1 mb-1 mb-md-0" (click)="showUpdateModal(role)">
              <i class="fas fa-edit fa-fw mr-0"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteRole(role.id)">
              <i class="fas fa-times fa-fw mr-0"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="!roles.length">
          <td colspan="4" class="text-center text-danger font-italic">Sorry! Nothing to show</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
