<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand logo" routerLink="/">
    <span class="logo-img"></span>
    <span class="navbar-title">TPS Training Foundation</span>
    <span class="navbar-version"></span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars mr-0"></i>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <!-- HOME -->
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/">
          <span>
            <i class="fas fa-home"></i>
            <span>Home</span>
          </span>
        </a>
      </li>

      <!-- SHOPPING -->
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/shopping">
          <span>
            <i class="fas fa-shopping-cart"></i>
            <span>Shopping</span>
          </span>
        </a>
      </li>

      <!-- MY STORE -->
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/my-store">
          <span>
            <i class="fas fa-store"></i>
            <span>My Store</span>
          </span>
        </a>
      </li>

      <!-- MANAGEMENT -->
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="admin-menu"
        >
          <span>
            <i class="fas fa-wrench"></i>
            <span>Management</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="admin/user-management"
              routerLinkActive="active"
            >
              <i class="far fa-user fa-fw"></i>
              <span>Staff manager</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="admin/role-management"
              routerLinkActive="active"
            >
              <i class="fas fa-key fa-fw"></i>
              <span>Role manager</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="admin/store-management"
              routerLinkActive="active"
            >
              <i class="fas fa-store fa-fw"></i>
              <span>Store manager</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="admin/product-management"
              routerLinkActive="active"
            >
              <i class="fas fa-hashtag fa-fw"></i>
              <span>Product manager</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="admin/category-management"
              routerLinkActive="active"
            >
              <i class="fas fa-tag fa-fw"></i>
              <span>Category manager</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="account-menu"
        >
          <span>
            <i class="far fa-user"></i>
            <span>
              {{name ? name : 'Account'}}
            </span>
          </span>
        </a>
        <ul
          class="dropdown-menu"
          ngbDropdownMenu
          aria-labelledby="account-menu"
        >
          <li>
            <a
              class="dropdown-item account-menu-item"
              routerLink="account/settings"
            >
              <i class="fas fa-user-cog fa-fw text-secondary"></i>
              <span>Settings</span>
            </a>
          </li>
          <li *ngIf="isLogin(); else elseBlock">
            <a class="dropdown-item account-menu-item" id="logout" (click)='logout()'>
              <i class="fas fa-power-off fa-fw text-danger"></i>
              <span>Sign out</span>
            </a>
          </li>
          <ng-template #elseBlock>
            <li>
              <a class="dropdown-item account-menu-item" id="login" (click)='openModalLogin()'>
                <i class="fas fa-sign-in-alt fa-fw text-info"></i>
                <span>Sign in</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </li>
    </ul>
  </div>
</nav>
