<div class="row">
  <div class="col-sm-12 col-lg-6 offset-lg-3">
    <button (click)="back()" class="btn btn-link">
      <i class="fas fa-chevron-circle-left"></i>Back
    </button>
    <div class="card">
      <div class="card-header bg-blueGreen font-weight-bold">
        Create a new category
      </div>
      <div class="card-body">
        <app-category-form
          (onSubmit)="handleSubmit($event)"
          (onCancel)="back()"
        ></app-category-form>
      </div>
    </div>
  </div>
</div>
