<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a routerLink=""><i class="fa fa-home"></i> Home</a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <a routerLink="/shopping">Shop</a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <span>Check Out</span>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="#" class="checkout-form mt-5">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div class="place-order">
        <h4>Your Order</h4>
        <div class="order-total">
          <ul class="order-table">
            <li>Product <span>Total</span></li>
            <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
            <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
            <li class="fw-normal">Subtotal <span>$240.00</span></li>
            <li class="total-price">Total <span>$240.00</span></li>
          </ul>
<!--          <div class="payment-check">-->
<!--            <div class="pc-item">-->
<!--              <label for="pc-check">-->
<!--                Cheque Payment-->
<!--                <input type="checkbox" id="pc-check" />-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="pc-item">-->
<!--              <label for="pc-paypal">-->
<!--                Paypal-->
<!--                <input type="checkbox" id="pc-paypal" />-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
          <div class="checkout-content">
            <input type="text" placeholder="Enter Your Card Number" />
          </div>
          <div class="order-btn">
            <button type="submit" class="site-btn place-btn">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
