<div class="breacrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text product-more">
          <a routerLink=""><i class="fa fa-home"></i> Home</a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <a routerLink="/shopping">Shop</a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <span>Check Out</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form class="checkout-form mt-5" (ngSubmit)="handleCheckout()">
    <div class="row">
      <div class="col-lg-6">
        <app-user-checkout-form></app-user-checkout-form>
      </div>
      <!-- <div class="col-lg-4 offset-lg-4"> -->
      <div class="col-lg-6">
        <div class="place-order">
          <h4>Your Order</h4>
          <div class="order-total">
            <ul class="order-table">
              <li>Product <span>Total</span></li>
              <li class="fw-normal" *ngFor="let item of cart.items">
                {{ item.name }} x {{ item.quantity }}
                <span>{{
                  item.price * item.quantity | usd
                }}</span>
              </li>
              <li class="total-price">
                Total
                <span>{{
                  cart.totalPrice | usd
                }}</span>
              </li>
            </ul>
            <!-- <div class="checkout-content">
              <input type="text" placeholder="Enter Your Card Number" />
            </div> -->
            <div class="order-btn">
              <button type="submit" class="site-btn place-btn">
                Place Order
              </button>
            </div>
          </div>
        </div>

        <div class="cart-buttons mt-2">
          <a class="primary-btn continue-shop" routerLink="/shopping"
            >Continue shopping</a
          >
          <a class="primary-btn up-cart" routerLink="/shopping/cart"
            ><i class="fas fa-angle-double-left"></i>Back to cart</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
