<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card">
      <div class="card-header font-weight-bold bg-blueGreen">
        Create Role
      </div>
      <div class="card-body">

        <div class="container">
          <!-- <form ngNativeValidate> -->
          <a class="btn btn-outline-secondary" (click)="back()"
            ><i class="fas fa-backward"></i
          ></a>

          <app-role-table (onSubmit)="handleSubmit($event)"></app-role-table>

        </div>
      </div>
    </div>
  </div>
</div>
