<form [formGroup]="storeForm" (ngSubmit)="emitSubmitEvent()">
  <div class="form-group">
    <label>Store name:</label>
    <input type="text" formControlName="name" class="form-control" placeholder="Enter store name" />
    <div *ngIf="storeForm.get('name').invalid" class="error">Required, min 4 characters</div>
  </div>
  <div class="form-group">
    <label>Address:</label>
    <input type="text" formControlName="address" class="form-control" placeholder="Ex: Vietnam" />
  </div>
  <div class="form-group">
    <label>Phone:</label>
    <input type="text" formControlName="phone" class="form-control" placeholder="Ex: 0123xxxxxx" />
    <div *ngIf="storeForm.get('phone').invalid" class="error">Have to start with 01 or 09, max length 11</div>
  </div>

  <!-- <div *ngIf="isUpdateMode">
    <label>Select manager:</label>
    <div class="card card-body p-2">
      <div class="d-flex justify-content-end mb-2 row">
        <div class="col-6"></div>
        <div class="form-inline col-6">
          <select class="form-control form-control-sm w-75" formControlName="selectStaffId">
            <option *ngFor="let staff of staffs" [value]="staff.id">
              {{ staff.id + ': ' + staff.name }}
            </option>
            <option *ngIf="!staffs.length" disabled selected>Empty</option>
          </select>
          <button type="button" class="btn btn-success btn-sm ml-1" (click)="addManager()">Add</button>
        </div>
      </div>

      <table class="table table-sm table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manager of managers">
            <th scope="row">{{ manager.id }}</th>
            <td>{{ manager.name }}</td>
            <td class="text-center">
              <button (click)="removeManager(manager)" type="button" class="btn btn-danger btn-sm">
                <i class="fas fa-times mr-0"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="!managers.length">
            <td colspan="3" class="text-center text-danger font-italic">Empty</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

  <div class="form-group">
    <label>Status:</label>
    <select formControlName="status" class="form-control" [required]="true">
      <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
    </select>
  </div>
  <div class="small text-muted">Store credentials</div>
  <hr class="mt-1">
  <div class="form-group">
    <label>Email:</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Ex: example@mail.com" [attr.disabled]="isUpdateMode" />
    <div *ngIf="storeForm.get('email').invalid" class="error">Invalid email</div>
    <div *ngIf="!isUpdateMode" class="text-success recommend-password">Default password is 1234</div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary mr-2" type="submit"><i class="fas fa-save"></i>Save</button>
    <button class="btn btn-danger" type="button" (click)='onCancel.emit()'><i class="fas fa-times"></i>Cancel</button>
  </div>
</form>
