.info-block {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar {
  background-color: #252525;
  height: 100vh;
  width: 100px;
  position: sticky;
  /* top: 56px; */
  top: 0;
  color: #fff;
}

.content-wrapper {
  /* margin-left: 100px; */
}

.management-item {
  padding: 8px 0;
  width: 100%;
  /* height: 80px; */
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s all;
  margin: 8px 0;
  outline: none;
}

.management-item:hover {
  background: #e7ab3c;
}

.active {
  background: #e7ab3c;
}

.management-item .fas {
  margin-right: 0;
  display: block !important;
  margin-bottom: 4px;
}

.admin {
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 16px;
  cursor: pointer;
}
