<div class="container-fluid">
  <div class="row">
    <div class="navbar-show text-center d-none px-1" (click)="toggleSidebar()">
      <i class="fas fa-angle-double-right mr-0 text-light"></i>
    </div>
    <div class="sidebar">
      <div class="admin" routerLink="./">
        <div>
          <i class="fas fa-user-shield fa-lg"></i>
        </div>
        {{ user.name }}
      </div>
      <hr />
      <div class="sidebar-items">
        <div
          *ngIf="canShow('store')"
          class="management-item"
          routerLinkActive="active"
          routerLink="store-management"
        >
          <div>
            <div>
              <i class="fas fa-store fa-2x"></i>
            </div>
            Store Management
          </div>
        </div>
        <div
          *ngIf="canShow('staff')"
          class="management-item"
          routerLinkActive="active"
          routerLink="user-management"
        >
          <div><i class="fas fa-2x fa-user-friends"></i></div>
          Staff Management
        </div>
        <div
          *ngIf="canShow('role')"
          class="management-item"
          routerLinkActive="active"
          routerLink="role-management"
        >
          <div><i class="fas fa-2x fa-key"></i></div>
          Role Management
        </div>
        <!-- <div
          class="management-item"
          routerLinkActive="active"
          routerLink="product-management"
        >
          <div><i class="fas fa-2x fa-hamburger"></i></div>
          Product Management
        </div>
        <div
          class="management-item"
          routerLinkActive="active"
          routerLink="category-management"
        >
          <div><i class="fas fa-2x fa-tags"></i></div>
          Category Management
        </div> -->
      </div>
    </div>

    <div class="p-2 p-md-3 content-wrapper col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
