<div class="card">
  <div class="card-header font-weight-bold text-dark bg-blue">
    Create Role
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <a routerLink="create" class="btn btn-primary rounded text-light mb-2">
        <i class="fas fa-pencil-ruler"></i>Create Role
      </a>
    </div>
    <table class="table table-sm table-striped table-responsive-sm">
      <thead>
      <tr class="d-flex">
        <th class="col-1"># ID</th>
        <th class="col-3">Role Name</th>
        <th class="col-3 text-center">Created By</th>
        <th class="col-2 text-center">Granted</th>
        <th class="text-center col-3">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="d-flex" id="role-{{role.id}}" *ngFor="let role of roles">
        <th class="col-1 d-flex"><p class="my-auto">{{role.id}}</p></th>
        <td class="col-3 d-flex"><p class="my-auto">{{role.name}}</p></td>
        <td class="col-3 d-flex justify-content-center">
          <p class="my-auto" *ngIf="role.createdBy !== currentUser.id; else byMe">{{role.createdBy}}</p>
          <ng-template #byMe>
            <p class="my-auto"><span class="badge badge-pill badge-danger label-byMe">Me</span></p>
          </ng-template>
        </td>
        <td class="col-2 d-flex justify-content-center">
          <p class="my-auto">
            <span class="badge badge-pill badge-danger label-deletable" *ngIf="role.allowDelete">deletable</span>
            <span class="badge badge-pill badge-info label-updatable" *ngIf="role.allowUpdate">editable</span>
          </p>
        </td>
        <td class="text-center col-3">
          <a class="btn btn-action mr-1" (click)="viewRoleDetails(role)"><i class="far fa-eye mr-0"></i></a>
          <a class="btn btn-action mr-1" (click)="openUpdateModal(role)"><i class="fas fa-edit mr-0"></i></a>
          <a class="btn btn-action mr-1" (click)="deleteRole(role)"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
