<div class="filter-widget">
  <h4 class="fw-title">Store</h4>
  <div class="fw-brand-check">
    <!-- <div class="bc-item">
      <label for="bc-calvin" class="font-weight-bold">
        ALL
        <input type="radio" id="bc-calvin" checked name="storeId" />
        <span class="checkmark"></span>
      </label>
    </div> -->
    <div class="bc-item" *ngFor="let store of stores">
      <label for="bc-diesel-{{ store.id }}">
        {{ store.name }}
        <input
          type="radio"
          id="bc-diesel-{{ store.id }}"
          name="storeId"
          [(ngModel)]="selectedStoreId"
          [value]="store.id"
          (click)="navigateUrl(store.id)"
        />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
