.btn-action:hover {
  border-color: #a0d3f6;
}
table {
  width: 95%;
}
.warp-table {
  justify-content: center;
}
input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.remove-all-checked:hover {
  cursor: pointer;
  background-color: #d4fdfd;
}

.form-group {
  padding: 0 12px;
}

@media only screen and (max-width: 1450px) {
  table th {
    font-size: 0.8rem;
  }
}
