.cart-icon {
  user-select: none;
  cursor: pointer;
}

.cart-body {
  max-height: 16em;
  overflow-y: auto;
}

.store-name {
  font-size: 0.6rem;
  font-weight: 500;
  color: #6c757d;
}

.si-pic img {
  width: 80px;
}
