<li class="cart-icon">
  <a href="#">
    <i class="fas fa-shopping-cart"></i>
    <span>{{ items.length }}</span>
  </a>
  <div class="cart-hover shadow">
    <div class="select-items">
      <table>
        <tbody>
          <tr *ngFor="let item of items">
            <td class="si-pic">
              <img src="https://picsum.photos/50" alt="" />
            </td>
            <td class="si-text">
              <div class="product-selected">
                <p>
                  {{ item.price | currency:"USD":true:"1.0-2" }} x
                  {{ item.quantity }}
                </p>
                <h6>{{ item.name }}</h6>
              </div>
            </td>
            <td class="si-close">
              <i class="fas fa-times text-danger fa-lg"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="select-total">
      <span>total:</span>
      <h5>{{ totalPrice | currency:"USD":true:"1.0-2" }}</h5>
    </div>
    <div class="select-button">
      <a href="#" class="primary-btn view-card">VIEW CARD</a>
      <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
    </div>
  </div>
</li>
<li class="cart-price">$150.00</li>
