<li class="cart-icon">
  <a>
    <i class="fas fa-shopping-cart"></i>
    <span>{{ cart.items.length }}</span>
  </a>
  <div class="cart-hover shadow">
    <div class="select-items cart-body">
      <table>
        <tbody>
          <tr *ngFor="let item of cart.items">
            <td class="si-pic">
              <img src="https://picsum.photos/50" alt="" />
            </td>
            <td class="si-text">
              <div class="product-selected">
                <p>
                  {{ item.price | usd }} x
                  {{ item.quantity }}
                </p>
                <h6 class="mb-1">{{ item.name }}</h6>
                <div class="store-name">
                  <i class="far fa-gem"></i>{{ item.storeName }}
                </div>
              </div>
            </td>
            <td class="si-close">
              <i
                class="fas fa-times text-danger fa-lg"
                (click)="removeCartItem(item.id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="select-total">
      <span>total:</span>
      <h5>{{ cart.totalPrice | usd }}</h5>
    </div>
    <div class="select-button">
      <a
        class="primary-btn view-card"
        routerLink="/shopping/cart"
      >VIEW CARD</a>
      <a
        class="primary-btn checkout-btn"
        routerLink="/shopping/checkout"
      >CHECK OUT</a
      >
    </div>
  </div>
</li>
<li class="cart-price">{{ cart.totalPrice | usd }}</li>
