<form [formGroup]="userForm" (ngSubmit)="emitSubmitEvent()">
  <div class="form-group">
    <label>Full name</label>
    <input type="text" formControlName="name" class="form-control" placeholder="Ex: John Dee">
    <div class="error" *ngIf="userForm.get('name').invalid">Required. Min 4 characters</div>
  </div>

  <div class="form-group">
    <label>Username</label>
    <input type="text" formControlName="username" class="form-control"
      placeholder="Ex: johndee" [attr.disabled]="isUpdateMode() ? true : null" />
    <div class="error" *ngIf="userForm.get('username').invalid">Required. Min 4 characters</div>
  </div>

  <div *ngIf="!isUpdateMode()">
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="At least 4 characters" required>
    </div>
    <div class="form-group">
      <label>Retype password</label>
      <input type="password"
        (input)="validatePass()"
        formControlName="repassword"
        class="form-control"
        placeholder="At least 4 characters"
        required>
      <div class="field-error" *ngIf="!isPasswordMatched">Password does not matched!</div>
    </div>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Ex: example@mail.com">
    <div class="error" *ngIf="userForm.get('email').invalid">Not a valid email</div>
  </div>

  <div class="form-group">
    <label>Address</label>
    <input type="email" formControlName="address" class="form-control" placeholder="Ex: Vietnam">
  </div>

  <div class="form-group">
    <label>Select role(s):</label>
    <select class="custom-select" formControlName="roleIds" multiple size="3">
      <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
    </select>
  </div>

  <!-- <div class="form-group">
    <label>Select store:</label>
    <select class="custom-select" formControlName="storeId" [attr.disabled]="this?.storeId || this.user?.idStore">
      <option>-- Select a store --</option>
      <option *ngFor="let store of stores" [value]="store.id">{{ store.name }}</option>
    </select>
  </div> -->

  <div class="text-right">
    <button class="btn btn-primary mr-2" type="submit"><i class="fas fa-save"></i>Save</button>
    <button class="btn btn-danger" type="button" (click)='onCancel.emit()'><i class="fas fa-times"></i>Cancel</button>
  </div>
</form>
