<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">My store</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>
<div class="jumbotron bg-jumbotron">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              [routerLink]="[{ outlets: { 'tabs': ['products'] } }]"
              routerLinkActive="active"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[{ outlets: { 'tabs': ['staffs'] } }]"
              routerLinkActive="active"
              >Staffs</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Warehouse</a>
          </li>
        </ul>
        <div class="border border-top-0">
          <router-outlet name="tabs"></router-outlet>
          <!-- <app-store-product></app-store-product>
          <app-store-staffs></app-store-staffs> -->
        </div>
      </div>
    </div>
  </div>
</div>
