<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item"><a routerLink="/my-store">My store</a></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<div class="jumbotron bg-jumbotron">
  <div class="container">
    <div class="pl-3 mb-2">
      <h2>{{ store?.name }}</h2>
      <h6 [ngClass]="isClosed() ? 'text-danger' : 'text-success'">
        {{ store?.status }}
      </h6>
      <div class="text-muted small">{{ store?.address }}</div>
      <hr>
    </div>

    <!-- Nav tabs -->
    <mdb-tabset [buttonClass]="'pills-secondary white mb-2'" [contentClass]="'card'">
      <!--Panel 1-->
      <mdb-tab heading="<i class='fas fa-hamburger'></i> Products">
        <div class="row">
          <div class="col-12">
            <app-store-product></app-store-product>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 2-->
      <mdb-tab heading="<i class='fas fa-user-friends'></i> Staffs">
        <div class="row">
          <div class="col-12">
            <app-store-staffs></app-store-staffs>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 3-->
      <mdb-tab heading="<i class='fas fa-boxes'></i> Orders">
        <div class="row">
          <div class="col-12">
            <app-store-orders></app-store-orders>
          </div>
        </div>
      </mdb-tab>
      <!--Panel 4-->
      <mdb-tab heading="<i class='fas fa-chart-line'></i> Statistics">
        <div class="row">
          <div class="col-12">
            <app-store-statistics></app-store-statistics>
          </div>
        </div>
      </mdb-tab>
    </mdb-tabset>
  </div>
</div>
