<div class="nav-item" id="shop">
  <div class="container">
    <nav class="nav-menu mobile-menu d-flex justify-content-between">
      <ul>
        <li routerLink="/" [ngClass]="{active: isRouterActive()}"><a class="nav-title">Home</a></li>
      </ul>
      <ul>
        <li routerLinkActive="active" class="left-border hide-on-xs">
          <a routerLink="/shopping/cart">Shopping Cart</a>
        </li>
        <li routerLinkActive="active" class="hide-on-xs">
          <a routerLink="/shopping/checkout">Checkout</a>
        </li>
        <li>
          <a (click)="openLoginModal()">
            <i class="far fa-user fa-lg mr-2"></i>
            {{ username || "Login" }}
            <i *ngIf="isLogin()" class="fas fa-caret-down ml-1 mr-0"></i>
          </a>
          <ul class="dropdown" *ngIf="isLogin()">
            <li>
              <a class="dropdown-title">
                Login as
                {{ isAdmin() ? "Admin" : ( isManager() ? "Store Manager" : "Customer" ) }}
              </a>
            </li>
            <hr />
            <li *ngIf="isAdmin()">
              <a routerLink="/admin">Admin Dashboard</a>
            </li>
            <li *ngIf="isManager() || isAdmin()">
              <a routerLink="/my-store">Store Management</a>
            </li>
            <li><a routerLink="/shopping/cart">Shopping Cart</a></li>
            <li><a routerLink="/shopping/checkout">Checkout</a></li>
            <hr />
            <li (click)="logout()"><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
  </div>
</div>

<div class="container">
  <div class="inner-header">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="logo p-0">
          <a>
            <img src="" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="advanced-search">
          <button type="button" class="category-btn">All Categories</button>
          <form action="#" class="input-group" (ngSubmit)="handleSearch()">
            <input
              type="text"
              placeholder="What do you need?"
              name="search"
              [(ngModel)]="searchKeyword"
              (input)="handleInput()"
            />
            <button type="button"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <ul class="nav-right">
          <app-shopping-order *ngIf="isLogin()"></app-shopping-order>
          <app-shopping-cart></app-shopping-cart>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="copyright-reserved">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-text">
            Copyright &copy; 2020 All rights reserved
          </div>
          <div class="payment-pic">
            <img src="assets/img/payment-method.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
