.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 8px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 70%;
  caret-color: red;
  padding: 0 10px;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  background: white;
  color: #e74c3c;
  transform: translate(2px, -3px);
}

footer {
  background-color: #191919;
  /* margin: 0 -15px; */
}

.dropdown-title {
	color: #e7ab3c !important;
  text-transform: none !important;
  font-size: 0.7rem !important;
  font-style: italic;
  user-select: none;
}

hr {
  margin: 0;
  padding: 0;
  background: #3b3b3b;
}

.left-border {
  border-left: 2px solid #3b3b3b;
}
