<div class="container">
  <div class="inner-header">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="logo p-0">
          <a>
            <img src="" alt="" />
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="advanced-search">
          <button type="button" class="category-btn">All Categories</button>
          <form action="#" class="input-group" (ngSubmit)="handleSearch()">
            <input
              type="text"
              placeholder="What do you need?"
              name="search"
              [(ngModel)]="searchKeyword"
              (input)="handleInput()"
            />
            <button type="button"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="col-lg-3 text-right col-md-3">
        <ul class="nav-right">
          <app-shopping-order *ngIf="isLogin()"></app-shopping-order>
          <app-shopping-cart></app-shopping-cart>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="copyright-reserved">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright-text">
            Copyright &copy; 2020 All rights reserved
          </div>
          <div class="payment-pic">
            <img src="assets/img/payment-method.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
