.btn-cart {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  background: #fd7e14;
}

a {
  user-select: none;
  cursor: pointer;
}

.categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 8px;
}

.product-item {
  cursor: pointer;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}

.sold-out {
	position: absolute;
	left: 0;
	top: 20px;
  padding: 5px 10px;
  opacity: 0.7;
}

.out-of-stock {
	position: absolute;
	left: 0;
	top: 20px;
  padding: 5px 10px;
  transform: rotateX(40deg);
  opacity: 0.7;
}
