<form [formGroup]="categoryForm" (ngSubmit)="emitSubmitEvent()">
  <div class="form-group">
    <label>Category name:</label>
    <input type="text" formControlName="name" class="form-control" placeholder="Enter category name" />
    <div class="error" *ngIf="categoryForm.get('name').invalid">Required. Min length 4</div>
  </div>
  <div class="form-group">
    <label>Description:</label>
    <input type="text" formControlName="description" class="form-control" placeholder="Enter description" />
  </div>
  <div class="text-right">
    <button class="btn btn-primary mr-2" type="submit"><i class="fas fa-save"></i>Save</button>
    <button class="btn btn-danger" type="button" (click)='onCancel.emit()'><i class="fas fa-times"></i>Cancel</button>
  </div>
</form>
